<div style="padding: 20px">
  <input
    class="form-control"
    placeholder="Search"
    style="width: 50%; margin-bottom: 20px"
    (input)="handleInput($event.target)"
  />
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let el of tableData; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ el }}</td>
      </tr>
    </tbody>
  </table>
</div>
